body {
  
  min-height: 450px;
  height: 100vh;
  margin: 0;
  background-image: url('https://images.pexels.com/photos/4066131/pexels-photo-4066131.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-color:rgba(0, 0, 0, 0.5);;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: 'Nunito', serif;
 
}
#user-interface{
   border-radius: 10px;
    padding: 15px;
    margin: 0 auto; 
}
#lists{
 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: left;
    padding-top: 10px;
    
}

.warper {
   
  position: relative;
  z-index: 9;
  top: 60px;
  width: 300px;
   color: white;
   box-sizing: border-box;
   background: rgba(0, 0, 0, 0.8);
   border-radius: 10px;
   padding: 1rem;
   margin: 1rem;
 

}

 

 #add{
  position: relative;
  left:2%;
  outline: none;
   background-color: #f4f5f6;
    border-radius: 40px;
  border: 4px solid #888888;
  padding: 10px;
  transition: 0.13s ease-in-out;
  cursor: pointer;
  text-align: center;
}

h1{
 
 color: rgb(214, 212, 214);
 font-size: 50px;
 font-weight: 900;
}


.checkbox {
  color: #aaa;
  text-decoration: line-through;
}
.btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  padding: 7px 7px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover{
background-color: rgba(255, 255, 255, 0.74);  
}
li{
  list-style: none;
}
#list-name-input{
   position: relative;
    margin: 0;
    width: 300px;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: none;
    color: gray;
    padding: 6px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}


   